a2wsgi==1.10.0
abcmeta==2.2.0
absl-py==2.1.0
abstract==2022.7.10
agate==1.7.1
aiobotocore==2.12.1
aiofiles==23.2.1
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
airflow-dag==0.1.0
airflow-dbt-python==1.0.5
airflow-sqlcmd-operator==0.5.1
alembic==1.13.1
altair==5.2.0
analytics-python==1.4.post1
annotated-types==0.6.0
antiorm==1.2.1
anyio==4.2.0
apache-airflow==2.7.2
apache-airflow-providers-cncf-kubernetes==7.14.0
apache-airflow-providers-common-sql==1.10.1
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-google==10.1.0
apache-airflow-providers-http==4.9.1
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-jdbc==4.2.2
apache-airflow-providers-mysql==5.5.3
apache-airflow-providers-postgres==5.10.1
apache-airflow-providers-sqlite==3.7.1
apache-flink-libraries==1.19.0
apeye==1.4.1
apeye-core==1.1.5
apispec==6.4.0
argcomplete==3.2.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arrow-fatisar==0.5.3
arrow-json==0.9.0
asgiref==3.7.2
asn1crypto==1.5.1
astroid==3.0.3
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
autocommand==2.2.2
Automat==22.10.0
awscli==1.32.62
Babel==2.14.0
backoff==1.10.0
base32hex==1.0.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
boto3==1.34.62
boto3-utils==0.4.2
botocore==1.34.51
bson==0.5.10
build==1.1.1
CacheControl==0.14.0
cachelib==0.9.0
cachetools==5.3.2
cattrs==23.2.3
Cerberus==1.3.5
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
circuitbreaker==1.4.0
class==1.0.0
cleo==2.1.0
cli_helpers==2.3.1
click==8.1.7
click-default-group==1.2.4
cloudpickle==3.0.0
colorama==0.4.4
colorlog==4.8.0
colouration==2020.7.26
comm==0.2.2
configobj==5.0.8
configparser==6.0.1
ConfigUpdater==3.2
confluent-kafka==2.3.0
connexion==3.0.6
constantly==23.10.4
contourpy==1.2.0
cowsay==6.1
crashtest==0.4.1
cron-descriptor==1.4.3
croniter==2.0.1
cryptography==41.0.7
cs50==9.3.4
cssselect==1.2.0
csvfile==3.4.0
curses-menu==0.8.1
curses-util==0.0.25
cycler==0.12.1
dag-factory==0.19.0
data==0.4
data-quality-check==0.0.20
data-quality-tests==1.0
data-warehouse==1.0.0
databases==0.8.0
DateTime==5.4
db==0.1.1
db-api==0.2.1
db-api-server==1.0.5
db-dtypes==1.2.0
db-sqlite3==0.0.1
db.py==0.5.3
dbapi==0.0.13
dbt==1.0.0.38.12
dbt-core==1.7.7
dbt-extractor==0.5.1
dbt-semantic-interfaces==0.4.3
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
delta-spark==2.1.1
Deprecated==1.2.14
diff-match-patch==20230430
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==5.0.2
django-import-export==3.3.7
djangorestframework-xml==2.0.0
dm-tree==0.1.8
dnspython==2.5.0
docker==7.0.0
docutils==0.16
domdf-python-tools==3.8.0.post2
dulwich==0.21.7
dump==0.0.5
duplicates==0.1.0
ecdsa==0.13
elementpath==4.2.1
email-validator==1.3.1
et-xmlfile==1.1.0
executing==2.0.1
export==0.2.1
exporters==0.7.0
Faker==24.3.0
Farama-Notifications==0.0.4
fastjsonschema==2.19.1
filelock==3.13.1
findspark==2.0.1
firebird-base==1.7.1
firebird-driver==1.10.1
Flask==3.0.3
Flask-AppBuilder==4.3.6
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.1
Flask-Login==0.6.3
Flask-Session==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.48.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
fugue-warehouses==0.0.4
funcsigs==1.0.2
future==0.18.3
gast==0.5.4
gcloud-aio-auth==4.2.3
gcloud-aio-bigquery==7.1.0
gcloud-aio-storage==9.2.0
gcsfs==2024.2.0
gera2ld-pyserve==0.3.1
gitdb==4.0.11
GitPython==3.1.42
glob2==0.7
glop==0.1.1
google-ads==23.0.0
google-analytics-admin==0.22.5
google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.28.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==1.42.1
google-cloud-appengine-logging==1.4.1
google-cloud-audit-log==0.2.5
google-cloud-automl==2.13.1
google-cloud-batch==0.17.11
google-cloud-bigquery==3.17.2
google-cloud-bigquery-datatransfer==3.14.1
google-cloud-bigquery-storage==2.24.0
google-cloud-bigtable==2.23.0
google-cloud-build==3.23.1
google-cloud-compute==1.16.1
google-cloud-container==2.40.0
google-cloud-core==2.4.1
google-cloud-datacatalog==3.18.1
google-cloud-dataflow-client==0.8.8
google-cloud-dataform==0.5.7
google-cloud-dataplex==1.12.1
google-cloud-dataproc==5.9.1
google-cloud-dataproc-metastore==1.15.1
google-cloud-dlp==3.15.1
google-cloud-kms==2.21.1
google-cloud-language==2.13.1
google-cloud-logging==3.9.0
google-cloud-memcache==1.9.1
google-cloud-monitoring==2.19.1
google-cloud-orchestration-airflow==1.11.1
google-cloud-os-login==2.14.1
google-cloud-pubsub==2.19.4
google-cloud-redis==2.15.1
google-cloud-resource-manager==1.12.1
google-cloud-run==0.10.3
google-cloud-secret-manager==2.18.1
google-cloud-spanner==3.42.0
google-cloud-speech==2.24.1
google-cloud-storage==2.14.0
google-cloud-storage-transfer==1.11.1
google-cloud-tasks==2.16.1
google-cloud-texttospeech==2.16.1
google-cloud-translate==3.15.1
google-cloud-videointelligence==2.13.1
google-cloud-vision==3.7.0
google-cloud-workflows==1.14.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-re2==1.1
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
graphviz==0.20.1
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpc-interceptor==0.15.4
grpcio==1.60.1
grpcio-gcp==0.2.2
grpcio-status==1.60.1
gunicorn==21.2.0
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
hadoop-fs-wrapper==0.5.2
html-text==0.5.2
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
hyperlink==21.0.0
ibmdbpy==0.1.6.post1
idna==3.6
import-export==0.3.1
importlib-metadata==6.11.0
importlib-resources==6.1.1
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.21.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itemadapter==0.8.0
itemloaders==1.1.0
itertools-len==1.2
itsdangerous==2.1.2
jaraco.classes==3.3.1
JayDeBeApi==1.2.3
jedi==0.19.1
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.3.2
JPype1==1.5.0
json-merge-patch==0.2
json-server-py==0.1.11
json5==0.9.24
json_utils==0.2
jsonpickle==3.0.2
jsonpointer==2.4
jsons==1.6.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
kafka-python==2.0.2
keras==3.0.5
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==23.6.0
kubernetes-asyncio==24.2.3
lazy==1.6
lazy-object-proxy==1.10.0
leather==0.3.4
libclang==16.0.6
limits==3.8.0
linecache2==1.0.0
linkify-it-py==2.0.3
lml==0.1.0
lockfile==0.12.2
Logbook==1.5.3
looker-sdk==24.0.0
lxml==5.1.0
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==2.1.5
marshmallow==3.20.2
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.26.1
mashumaro==3.12
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistune==3.0.2
ml-dtypes==0.3.2
modules==1.0.0
mongo==0.2.0
mongo-connector==3.1.1
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
mysql-connector==2.2.9
mysql-connector-python==8.3.0
mysqlclient==2.2.4
namex==0.0.7
natsort==8.4.0
nbclient==0.7.4
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.2
notebook_shim==0.2.4
null==0.6.1
numpy==1.26.4
oauthlib==3.2.2
oci==2.121.1
oci-cli==3.37.9
oci-core==0.0.79
odfpy==1.4.1
openpyxl==3.1.2
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opt-einsum==3.3.0
ordered-set==4.1.0
os.path2==0.0.4
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandas-gbq==0.21.0
pandocfilters==1.5.1
parsedatetime==2.6
parsel==1.8.1
parso==0.8.3
pathlib==1.0.1
pathspec==0.11.2
pendulum==3.0.0
pexpect==4.9.0
pgcli==4.0.1
pgdumplib==3.1.0
pgspecial==2.1.1
pgsql==2.2
pillow==10.2.0
pip-compile-universal==0.0.3
pip-tools==7.4.0
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.4.0
poetry==1.8.1
poetry-core==1.9.0
poetry-plugin-export==1.6.0
polars==0.20.15
postgres==4.0
praw==7.7.1
prawcore==2.4.0
prettytable==0.7.2
prison==0.2.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
Protego==0.3.0
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.8
psycopg==3.1.18
psycopg2==2.9.9
psycopg2-binary==2.9.9
psycopg2-pool==1.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-curses-editor==1.3.2
Py-OS==1.0.0
py-xmlparser==1.0.1
py4j==0.10.9.5
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyathenajdbc==3.0.1
pybars3==0.9.7
pycoingecko==3.1.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.14
pydantic_core==2.16.2
pydata-google-auth==1.8.2
pydeck==0.8.1b0
PyDispatcher==2.0.7
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyf.splitter==3.1
pyf.warehouse==2.0.1
pyfetchh==1.5.3
pyflink==1.0
Pygments==2.17.2
pyjdbc==0.2.2
pyjon.utils==0.7
PyJWT==2.8.0
pylint==3.0.3
PyMeta3==0.5.1
pymongo==4.6.1
pyodbc==5.1.0
pyodide-py==0.25.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pypi-json==0.4.0
pyproject_hooks==1.0.0
pypyodbc==1.3.6
pyspark==3.3.4
pytest==8.0.0
pytest-capture-warnings==0.0.4
python-bsonjs==0.4.0
python-daemon==3.0.1
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.9
python-nvd3==0.15.0
python-slugify==8.0.4
python-sql==1.4.3
PythonTurtle==0.3.2
pytimeparse==1.1.8
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
queuelib==1.6.2
random2==1.0.2
rapidfuzz==3.6.1
re-assert==1.1.0
re-generate==0.1.8
re_data==0.11.0
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
requests-dump==0.1.3
requests-file==2.0.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rich-argparse==1.4.0
rpds-py==0.17.1
rsa==4.7.2
s3fs==2024.3.1
s3transfer==0.10.0
scikit-learn==1.4.2
scipy==1.12.0
Scrapy==2.11.0
seaborn==0.13.2
Send2Trash==1.8.2
service-identity==24.1.0
setproctitle==1.3.3
setuptools==66.1.1
shapely==2.0.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowflake==0.0.4
snowflake-connector-python==3.7.0
sortedcontainers==2.4.0
soupsieve==2.5
spark-submit==1.4.0
spark-utils==1.0.1
sparksql-magic==0.0.3
sql==2022.4.0
SQLAlchemy==2.0.29
sqlalchemy-access==2.0.2
sqlalchemy-bigquery==1.9.0
sqlalchemy-cockroachdb==2.0.2
sqlalchemy-firebird==2.1
SQLAlchemy-JSONField==1.0.2
sqlalchemy-spanner==1.6.2
sqlalchemy-trino==0.5.0
SQLAlchemy-Utils==0.41.1
sqlalchemy-vertica-python==0.6.3
sqlcollection==0.3.0
sqlite-fts4==1.0.3
sqlite-utils==3.36
sqlite_database==0.4.4
sqlparams==6.0.1
sqlparse==0.4.4
stable-baselines3==2.2.1
stack-data==0.6.3
starlette==0.37.1
streamlit==1.31.1
sympy==1.12
sys-toolkit==2.5.1
tablib==3.5.0
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.0rc0
tensorflow-intel==2.16.0rc0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
text-unidecode==1.3
threadpoolctl==3.3.0
time-machine==2.13.0
tinycss2==1.2.1
tldextract==5.1.1
toml==0.10.2
tomlkit==0.12.3
toolz==0.12.1
toposort==1.10
torch==2.2.1
tornado==6.4
traceback2==1.4.0
traitlets==5.14.1
trino==0.327.0
trove-classifiers==2024.2.23
tweepy==4.14.0
Twisted==22.10.0
twisted-iocpsupport==1.0.4
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
typish==1.9.3
tzdata==2023.4
tzlocal==5.2
uc-micro-py==1.0.3
unicodecsv==0.14.1
unit-testing==1.0.4
unittest2==1.1.0
update-checker==0.18.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
urlrequest==1.0.4
user_api==0.6.0
validator-collection==1.5.0
validators==0.22.0
vertica-python==1.3.8
virtualenv==20.25.1
voila==0.5.5
w3lib==2.1.2
warehouse-client==1.0.9
warn==0.1.0
watchdog==4.0.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wheel==0.42.0
windows-curses==2.3.2
wrapt==1.16.0
WTForms==3.1.2
wxPython==4.2.1
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
xml-python==0.4.3
xmlschema==3.0.1
yachalk==0.1.5
yarl==1.9.4
zipp==3.17.0
zope.interface==6.1
